@charset 'utf-8';

//　ここから共通パーツ　
$yellow:rgb(255,255,0);
$green:rgb(0, 255, 140);
$pink: rgb(255, 130, 188);
$purple:rgb(128, 0, 255);
$blue:rgb(0, 128, 255);
$skyblue: rgb(59, 243, 247);
$orange: rgb(255, 140, 0);
body {
    background-color: #eee;
}
#topWorks {
    // topWorks(section)タイトル中央寄せ
    text-align: center;
    .section__title {
        color: #444;
        display: inline-block;
        font-size: 4.2rem;
        margin: 80px 0 0px;
        
    }
    .section__sub-title {
        display: inline-block;
        font-weight: 500;
        width: 15%;
        font-size: 2.2rem;
        margin: 40px auto;
        border-bottom: 1.5px solid #444;
        // 文字とボーダーの間の余白
        padding-bottom: 5px;
    }
}
@media screen and (max-width: 700px) {
    #topWorks {
        .section__sub-title {
            width: 25%;
        }
    }
}
//　ここまで共通パーツ　
//　ここからheader　
.header {
    width: 100%;
    .gnav {
        position: fixed;
        z-index:2;
        top: 0;
        height: 70px;
        width: 100%;
        .gnav__menu {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: flex-end;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            height: 70px;
            font-size: 2.3rem;
            font-weight: 700;
            .gnav__menu-works {
                margin-right: 40px;
            }
            .gnav__menu-about {
                margin-right: 60px;
            }
            .gnav__menu-about a {
                color: #ccc;
                transition: 0.45s;
                -webkit-transition: 0.45s;
                &:hover {
                    color: #444;
                }
            }
        }
    }
}
//　ここまでheader　
//　ここからmain　
.main {
    background-color: #eee;
}
#topMain {
    .topMain__title {
        white-space: nowrap;
        display: block;
        position: absolute;
        top: 46.75%;
        left: 50%;
        transform: translate(-50%, -46.75%);
        -webkit-transform: translate(-50%, -46.75%);
        color: #fff;
        font-size: 5.5rem;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
    .topMain__mainVisual {
        width: 100%;
        height: 93.5vh;
        object-fit: cover;
    }
}
#topWorks {
    max-width: 1080px;
    margin: 0 auto;
    .topWorks__contents {
        width: 100%;
        .topWorks__list {
            display: inline-block;
            width: 49%;
            img {
                width: 90%;
                vertical-align: bottom;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                margin-bottom: 10px;
                object-fit: cover;
                box-shadow: 2px 2px 3px #aaa;
                &:hover {
                    opacity: 0.7;
                }
            }
            .topWorks__list-copy {
                font-size: 1.9rem;
            }
        }
    }
}
//　ここまでmain　
//　ここからfooter　
.footer {
    text-align: center;
    margin-top: 40px;
    padding: 30px 0 10px 0;
    border-top: 2px solid gray;
    background-color: #eee;
    .sns-list {
        margin-bottom: 10px;
        .sns-icon {
            color: #bbb;
            font-size: 3.2rem;
            margin-right: 20px;
            transition: 0.45s;
            -webkit-transition: 0.45s;
            &:hover {
                color: #555;
            }
        }
    } 
}
//　ここからfooter　
@media screen and (max-width: 700px) {
    .header .gnav .gnav__menu {
        .gnav__menu-works {
            margin-right: 30px;
        } .gnav__menu-about {
            margin-right: 40px;
        }
    }
    html {
        font-size: 55%;
    }
    #topMain {
        .topMain__title {
            top: 43%;
            left: 50%;
            transform: translate(-50%, -43%);
            -webkit-transform: translate(-50%, -43%);
        }
        .topMain__mainVisual  {
            height: 86vh;
        }
    }
    #topWorks {
        .topWorks__contents {
            .topWorks__list {
                width: 100%;
            }
        }
    }
}