@charset 'utf-8';
$yellow: #FFFF6B;
$green:rgb(0, 255, 140);
$pink: rgb(255, 0, 120);
$purple:rgb(128, 0, 255);
$blue:rgb(0, 128, 255);
$skyblue: rgb(0, 250, 255);
$orange: rgb(255, 140, 0);


//　ここから共通パーツ　
.section__title {
    color: #444;
    font-size: 2.3rem;
    padding: 0 1em;
    line-height: 1.7;
    margin: 60px auto 30px;
}
body, .worksPage__top, .footer {
    background-color: #eee;
  }  

//　ここまで共通パーツ　
//　ここからheader　
.header {
    width: 100%;
    .gnav {
        position: fixed;
        top: 0;
        z-index:2;
        height: 70px;
        width: 100%;
        .gnav__menu {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: flex-end;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            height: 70px;
            font-size: 2.3rem;
            font-weight: 700;
            .gnav__menu-works {
                margin-right: 40px;
            }
            .gnav__menu-about {
                margin-right: 60px;
            }
            .gnav__menu-works a, .gnav__menu-about a { 
                color: #ccc;
                transition: 0.45s;
                &:hover {
                    color: #444;
                }
            }   
        }
    }
}
//　ここからmain　
.main {
    line-height: 1.7;
}
.worksPage {
    .worksPage__top {
        margin-top: 50px;
        text-align: center;
        .worksPage__mainVisual {
            margin: 0 auto;
            max-width: 60%;
            img {
                width: 100%;
                box-shadow: 2px 2px 3px #aaa;
            }
        }
        .worksPage__codeLink {
            width: 58%;
            margin: 10px auto 0;
            text-align: end;
            white-space: nowrap;
            .codeLink-text a{
                color: #aaa;
                &:hover {
                    color: #444;
                }
            }
            .sns-icon {
                font-size: 2.5rem;
            }
        }
    }
    .worksPage__summary {
        margin: 40px auto 0;
        width: 60%;
        a {
            text-decoration: underline;
            &:hover {
                // 　関連サイトへのリンク
                color: rgb(16, 16, 207);
            }
        }
        .summary-list {
            vertical-align: top;
            display: inline-block;
            width: 29%;
            white-space: nowrap;
            padding-left: 1.5em;
            position: relative;
            &::before {
                position:absolute;
                font-family: "Font Awesome 5 Free";
                content: '\f1b0';
                transform: translateY(-5%);
                left: 0;
                color: #3F51B5;
                font-size: 1em;
                font-weight: bold;
            }
        }
        .summary-item {
            vertical-align: top;
            display: inline-block;
            margin-bottom: 20px;
            // padding-left: 1.5em;
            width: 70%;
        }
    }
}
//　ここまでmain　
//　ここからfooter　
.footer {
    text-align: center;
    margin-top: 60px;
    padding: 30px 0 10px 0;
    border-top: 2px solid gray;
    .sns-list {
        margin-bottom: 10px;
        .sns-icon {
            color: #bbb;
            font-size: 3.2rem;
            margin-right: 20px;
            transition: 0.45s;
            &:hover {
                color: #555;
            }
        }
    } 
}
//　ここからfooter　
@media screen and (max-width: 700px) {
    html {
        font-size: 55%;
    }
    .header .gnav .gnav__menu {
        .gnav__menu-works {
            margin-right: 30px;
        } .gnav__menu-about {
            margin-right: 40px;
        }
    }
    .worksPage {
        .worksPage__top .worksPage__mainVisual {
            max-width: 90%;
            background-color: #fff;
        }
        .worksPage__summary {
            width: 90%;
            .worksPage__list {
                width: 100%;
            }
            .summary-item {
                width: 100%;
            }
        }
    }
}