@charset 'utf-8';

//　ここから共通パーツ　
body {
    // background-color: rgb(255, 223, 164);
    background-color: #eee;
}
.main {
    margin-top: 100px;
    line-height: 1.7;
}
.section__title {
    width: 100%;
    text-align: center;
    p {
    display: inline-block;
    font-size: 2.4rem;
    padding: 0 25px 3px;
    margin-bottom: 40px;
    border-bottom: 2px solid rgb(255, 145, 0);
    }
}
//　ここから共通パーツ　
//　ここからheader　
.header {
    width: 100%;
    .gnav {
        position: fixed;
        top: 0;
        z-index: 3;
        height: 70px;
        width: 100%;
        .gnav__menu {
            display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: flex-end;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            height: 70px;
            font-size: 2.3rem;
            font-weight: 700;
            .gnav__menu-works {
                margin-right: 40px;
            }
            .gnav__menu-about {
                margin-right: 60px;
            }
            .gnav__menu-works a{
                color: #ccc;
                transition: 0.45s;
                &:hover {
                    color: #444;
                }
            }

        }
    }
}
//　ここまでheader　
//　ここからmain　
.about {
    position: relative;
    max-width: 800px;
    height: 400px;
    padding-bottom: 60px;
    margin: 30px auto;
    border-radius: 0.5em;
    .about__image {
        position: absolute;
        z-index: 2;
        top: 22%;
        left: 0;
        // background-color: blue;
        max-width: 380px;
        img {
        width: 90%;
        object-fit: cover;
        }
    }
    .about__contents {
        position: absolute;
        right: -5%;
        top: 0;
        width: 67%;
        background-color: #fff;
        padding-left: 5em;
        height: 100%;
        display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        .about__title {
            font-size: 2.4rem;
            margin-bottom: 5px;
            border-bottom: 2px solid rgb(255, 145, 0);
        }
    }
}
.past,.vision {
    max-width: 60%;
    margin: 60px auto 0;
}
.vision {
    .vision__text {
        span {
            font-weight: bold;
        }
    }
}
.skill {
    max-width: 80%;
    margin: 60px auto 0;
    .skill__contents {
        text-align: center;
        width: 100%;
        .skill__list {
            display: inline-block;
            vertical-align: top;
            text-align: center;
            padding: 0 10px;
            width: 24%;
            .skill__list-name {
                font-weight: bold;
                font-size: 1.8rem;
            }
            span {
                font-size: 4rem;
            }
            .skill__list-text {
                margin-top: 15px;
            }
        }
    }
}
.career {
    margin: 60px auto 0;
    max-width: 600px;
    .career__contents {
        margin: 0 auto;
        .career-list {
            display: inline-block;
            width: 60%;
            white-space: nowrap;
        }
        .career-item {
            display: inline-block;
            text-align: center;
            width: 39%;
            margin-bottom: 10px;
            white-space: nowrap;
        }
    }
}
//　ここまでmain　
//　ここからfooter　
.footer {
    text-align: center;
    margin-top: 60px;
    padding: 30px 0 10px 0;
    border-top: 2px solid gray;
    background-color: #eee;
    // background-color: rgb(255, 223, 164);
    .sns-list {
        margin-bottom: 10px;
        .sns-icon {
            color: #bbb;
            font-size: 3.2rem;
            margin-right: 20px;
            transition: 0.45s;
            &:hover {
                color: #555;
            }
        }
    } 
}
//　ここまでfooter　

@media screen and (max-width: 700px) {
    html {
        font-size: 55%;
    }
    .header .gnav .gnav__menu {
        .gnav__menu-works {
            margin-right: 30px;
        } .gnav__menu-about {
            margin-right: 40px;
        }
    }
    .about {
        width: 90%;
        height: 570px;
        .about__image {
            top: 23%;
            left: 8%;
            max-width: 340px;
        }
        .about__contents {
            right: 0;
            width: 100%;
            padding-left: 2em;
            .about__title {
                margin-bottom: 230px;
            }
        }
    }
    .past, .vision {
        max-width: 80%;
    }
    .skill {
        .skill__contents {
            .skill__list {
                width: 70%;
                margin: 0 auto 20px;
            }
        }
    }
    .career {
        .career__contents {
            .career-list {
                text-align: center;
                white-space: wrap;
                width: 100%;
            }
            .career-item {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}